<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonicartos.component"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

</manifest>